<div class="container-fluid">
<h1 class="display-2">Import Cards From Excel</h1>

<h1 class="display-6">Requirements</h1>
You will need print_tag, name, condition (psa: 1 = bad, 5 = good, 10 = perfect) and a price
<%= form_for @cards_import do |f| %>
  <% if @cards_import.errors.any? %>
    <%= pluralize(@cards_import.errors.count, "error") %> prevented us from
    importing your spreadsheet. Please update your spreadsheet and try agin.
    <ul>
      <% @cards_import.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
    </ul>
  <% end %>
  <div class="mb-3">
  <%= f.file_field :file, class:"form-control" %>
  </div>
  <div class="mb-3">
  <%= f.submit "Import File", class:"btn btn-primary", id:"login" %>
  </div>
<% end %>
</div>