<div id="wrapper" style="margin-top: 2em;">
<div class="container" id="main-page">
<% $x = 0 %>
    <% @cards.reverse.each do |card| %>
<%response = Faraday.get("http://yugiohprices.com/api/price_for_print_tag/#{card.print_tag}")%>
<% data = JSON.parse(response.body) %>
    <% if($x % 4 == 0 || $x == 0) %>
    </div>
    <div class="row">
    <% end %>
    <div class="col-sm-3">
    <%if card.psa == 10 %>
<div class="card mb-3 h-100" style="max-width:250px; border-color:#EEBC1D !important;">
<%elsif card.psa == 5 %>
<div class="card mb-3 h-100" style="max-width:250px; border-color:green !important;">
<%elsif card.psa == 1 %>
<div class="card mb-3 h-100" style="max-width:250px; border-color:red !important;">
<%end%>
    <%split = data["data"]['name'].split
    splitc = split.join('_')
    %>
      <%= image_tag("http://yugiohprices.com/api/card_image/#{splitc}", class:"card-img-top") %>
      <div class="card-body">
      <%if card.psa == 10 %>
        <h5 class="card-title"><%= card.name %> <br/><span style="color: #EEBC1D;">Perfect condition</span></h5>
        <%elsif card.psa == 5 %>
        <h5 class="card-title"><%= card.name %> <br/><span style="color: green;">Good condition</span></h5>
        <%elsif card.psa == 1 %>
        <h5 class="card-title"><%= card.name %> <br/><span style="color: red;">Bad condition</span></h5>
        <%end%>
        <p class="card-text">
        <b>Print tag:</b> <%= card.print_tag %>
        <br>
        <b>Set name:</b> <%= data['data']['price_data']['name'] %>
        <br>
        <b>Price:</b> <%= card.price %> €
        <br>
        <b>Suggested price:</b>
        <%if card.psa == 10 %>
        <% 
        sugg = data['data']['price_data']['price_data']['data']['prices']['high']
        diff = sugg - card.price 
        %>
        <%= data['data']['price_data']['price_data']['data']['prices']['high'] %> €
        <% elsif card.psa == 5 %>
        <% 
        sugg = data['data']['price_data']['price_data']['data']['prices']['average']
        diff = sugg - card.price 
        %>
        <%= data['data']['price_data']['price_data']['data']['prices']['average'] %> €
        <% elsif card.psa == 1 %>
        <% 
        sugg = data['data']['price_data']['price_data']['data']['prices']['low']
        diff = sugg - card.price 
        %>
        <%= data['data']['price_data']['price_data']['data']['prices']['low'] %> €
        <%end%>
        <br>
        <%if(diff > 0)%>
        <span style="color:green;">Good deal</span>
        <%end%>
        <%if(diff < 0)%>
        <span style="color:red;">Overpriced</span>
        <%end%>
        <%if(diff == 0)%>
        <span style="color:orange;">Perfect price</span>
        <%end%>
        </p>
        <%= link_to '', card, class:"stretched-link" %>
  </div>
<div class="card-footer text-muted">
    Listed <%= time_ago_in_words(card.created_at) %> ago
</div>
</div>

    </div>
      <% $x = $x + 1 %>
    <% end %>
    <% if($x % 4 == 0 || $x == 0) %>
    </div>
    <% $x = 0 %>
    <% end %>
</div>
</div>