<p id="notice"><%= notice %></p>

<p>
  <strong>Print tag:</strong>
  <%= @card.print_tag %>
</p>

<p>
  <strong>Set:</strong>
  <%= @card.set %>
</p>

<%= link_to 'Edit', edit_card_path(@card) %> |
<%= link_to 'Back', cards_path %>
