<!DOCTYPE html>
<html>
  <head>
    <title>Tradey</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

      <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
  <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
  <%= stylesheet_pack_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
  <%= favicon_link_tag asset_path('logo.png') %>
  </head>

  <body>
  <% 
require 'faraday'
require 'faraday/net_http'
Faraday.default_adapter = :net_http
%>
  <nav class="navbar navbar-expand-lg navbar-light bg-light">
  <div class="container-fluid">
    <%= link_to image_tag("logopng.png", class:"logo"), root_path %>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav me-auto mb-2 mb-lg-0">
       <% if user_signed_in? %> 
        <li class="nav-item">
          <%= link_to 'New card'.html_safe, new_card_path, class:"nav-link" %>
        </li>
        <li class="nav-item">
            <%= link_to 'Edit account'.html_safe, edit_user_registration_path, class:"nav-link" %>
          </li>
          <li class="nav-item">
            <%= link_to 'Logout'.html_safe, destroy_user_session_path, method: :delete, class:"nav-link"%>
          </li>
        <% else %>
          <li class="nav-item">
            <%= link_to 'Login'.html_safe, new_user_session_path, class:"nav-link" %> 
          </li>
          <li class="nav-item" style="color: #fdd605;">
            <%= link_to 'Registration'.html_safe, new_user_registration_path, class:"nav-link"%>
          </li>
      <% end %>
      <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
            Card stuff
          </a>
          <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
            <% if user_signed_in? %>
            <li><%= link_to 'Favorites'.html_safe, favorites_path, class:"nav-link"%></li>
            <%end%>
            <li><%= link_to 'Trending'.html_safe, trending_path, class:"nav-link"%></li>
            <li><%= link_to 'Top'.html_safe, top_path, class:"nav-link"%></li>
            <li><%= link_to 'Import cards'.html_safe, new_cards_import_path, class:"nav-link"%></li>
          </ul>
        </li>
      </ul>
      <%= link_to '<i class="bi bi-x-lg"></i>'.html_safe, root_path, class:"nav-link", style:"color:rgb(195,71,71);"%>
      <%= form_with url: search_path, method: :get, class:"d-flex"  , local: true do |f| %>
          <%= f.text_field :keyword, value: @keyword, class:"form-control me-2", type:"search", placeholder:"Search"%>
          <%= f.submit 'Search', class:"btn btn-outline-danger", style:"border-color: rgb(195,71,71);", id:"srcbtn" %>
        <% end %>
    </div>
  </div>
</nav>
  <% if flash[:notice] %>
    <div class="alert alert-success" id="flash" role="alert"><%= notice %></div>
    <script type="text/javascript">
setTimeout(function () {
  
            // Closing the alert
            document.querySelector('#flash').style.display = "none";
        }, 2500);
    </script>
    <% end %>
    <% if flash[:alert] %>
    <div class="alert alert-danger" id="flash"  role="alert"><%= alert %></div>
    <script type="text/javascript">
setTimeout(function () {
            // Closing the alert
            document.querySelector('#flash').style.display = "none";
        }, 5000);
    </script>
    <% end %>
    <%= yield %>
  </body>
</html>
