<!DOCTYPE html>
<html>
  <head>
    <title>Tradey</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

      <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
  <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
  <%= stylesheet_pack_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
  <%= favicon_link_tag asset_path('logo.png') %>
  </head>

  <body>
  <% 
require 'faraday'
require 'faraday/net_http'
Faraday.default_adapter = :net_http
%>
  <nav class="navbar navbar-expand-lg navbar-light bg-light">
  <div class="container-fluid">
    <%= link_to image_tag("logopng.png", class:"logo"), root_path %>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav me-auto mb-2 mb-lg-0">
       <% if user_signed_in? %> 
        <li class="nav-item">
          <%= link_to '<i class="bi bi-file-music-fill"></i> New card'.html_safe, new_card_path, class:"nav-link" %>
        </li>
        <li class="nav-item">
            <%= link_to '<i class="bi bi-person-fill"></i> Edit account'.html_safe, edit_user_registration_path, class:"nav-link" %>
          </li>
          <li class="nav-item">
            <%= link_to '<i class="bi bi-door-closed-fill"></i> Logout'.html_safe, destroy_user_session_path, method: :delete, class:"nav-link"%>
          </li>
        <% else %>
          <li class="nav-item">
            <%= link_to '<i class="bi bi-door-open-fill"></i> Login'.html_safe, new_user_session_path, class:"nav-link" %> 
          </li>
          <li class="nav-item" style="color: #fdd605;">
            <%= link_to '<i class="bi bi-door-open"></i> Registration'.html_safe, new_user_registration_path, class:"nav-link"%>
          </li>
          <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
            Card stuff
          </a>
          <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
            <li><a class="dropdown-item" href="#">Action</a></li>
            <li><a class="dropdown-item" href="#">Another action</a></li>
          </ul>
        </li>
      <% end %>
      </ul>
      <form class="d-flex">
        <input class="form-control me-2" type="search" placeholder="Search" aria-label="Search">
        <button class="btn btn-outline-success" type="submit">Search</button>
      </form>
    </div>
  </div>
</nav>
  <% if flash[:notice] %>
    <div class="alert alert-success" id="flash" role="alert"><%= notice %></div>
    <script type="text/javascript">
setTimeout(function () {
  
            // Closing the alert
            document.querySelector('#flash').style.display = "none";
        }, 2500);
    </script>
    <% end %>
    <% if flash[:alert] %>
    <div class="alert alert-danger" id="flash"  role="alert"><%= alert %></div>
    <script type="text/javascript">
setTimeout(function () {
            // Closing the alert
            document.querySelector('#flash').style.display = "none";
        }, 2500);
    </script>
    <% end %>
    <%= yield %>
  </body>
</html>
